# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xcode
*.xcuserstate
*.xcuserdatad

# VS
.vs

# build folder
NativeCode/Xcode/build/

# Unity generated
Builds/
Temp/
Library/
obj/
Logs/
ProjectSettings/ProjectVersion.txt

# Build product
Assets/HoaLibrary/Plugins.meta
Assets/HoaLibrary/Plugins
*.csproj
*.sln
